@(user: securesocial.core.Identity)(implicit request: RequestHeader)
@import securesocial.core.IdentityProvider

@import securesocial.core.Registry
@import securesocial.core.IdentityProvider
@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.AuthenticationMethod._
@import securesocial.core.providers.utils.RoutesHelper
@import play.api.{Logger, Play}
@import helper._
@import play.api.Play

@main("SecureSocial - Sample Protected Page") {
<div class="page-header">
    <h2><img src="@user.avatarUrl" alt="@user.firstName" width="40px" height="40px"/> Welcome @user.firstName</h2>
</div>

<div class="clearfix">
    <h2>User Details</h2>

    <ul>
        <li>User Id: @user.identityId.userId</li>
        <li>Fist name: @user.firstName</li>
        <li>Last name: @user.lastName</li>
        <li>Full name: @user.fullName</li>
        <li>Logged in from: @user.identityId.providerId</li>
        <li>Email: @user.email.map { email => @email }.getOrElse("Not Available")</li>
        <li>Authentication method: @user.authMethod</li>
    </ul>

    @user.oAuth1Info.map { info =>
        <h2>OAuth1 Info</h2>

        <ul>
            <li>Token: @info.token</li>
            <li>Secret: @info.secret</li>
        </ul>
    }

    @user.oAuth2Info.map { info =>
        <h2>OAuth2 Info</h2>

        <ul>
            <li>Access Token: @info.accessToken</li>
            @info.tokenType.map { t => <li>Token Type: @t</li> }
            @info.expiresIn.map { exp => <li>Expires in: @exp seconds</li>}
            @info.refreshToken.map { rt => <li>Refresh Token: @rt</li>}
        </ul>
    }
    <hr>
    @user.passwordInfo.map { info =>
        <a class="btn" href="@securesocial.core.providers.utils.RoutesHelper.changePasswordPage.absoluteURL(IdentityProvider.sslEnabled)">Change Password</a>
    }

    <span>Link this account to

    @Registry.providers.all.values.map { provider =>
        @if( provider.authMethod == OAuth1 || provider.authMethod == OAuth2 ) {
            @defining( "securesocial/images/providers/%s.png".format(provider.id) ) { imageUrl =>
            
            }
        }
    }
    </span>
    <hr>
    <a class="btn" href="@securesocial.controllers.routes.LoginPage.logout()">Logout</a>
</div>
}